name: Aii Auto Commit

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Commit changes if any
        run: |
          git config user.name "aii-bot"
          git config user.email "aii-bot@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "aii auto-update"
          git push